extends layout
block content
    h1=title
    form(class = 'form-horizontal' method='POST' action='')
        div.form-group
            label(for="require_name" class="col-sm-2")   申請する人
                h3  #{theRelationship.user.name} 
        div.form-group
            label(for="sex" class="col-sm-2")    性別
                h3  #{theRelationship.user.sex}
        div.form-group        
            label(for="type" class="col-sm-2")    タイプ
                h3  #{theRelationship.rela_type}
        div.form-group        
            label(for="message" class="col-sm-10")    メッセージ
                h3(style="white-space: pre-line;")  #{theRelationship.message} 
        div.form-group   
            label(for="refuse_message" class="col-sm-4")  新しいメッセージ
                textarea.form-control(name="refuse_message", cols="10", rows="3" style="white-space: pre-line;")          
            
        button.btn.btn-primary(type='submit') 確定
        if errors 
          ul
          for error in errors
            li!= error.msg 
        